resources/

testdata/
MGC/

work*/
RESULTS/
RESULT_mgc/
RESULT_testdata

.nextflow*
.nextflow/

assets/.gatk4_install_ok.chck
.license_accepted.chck

wes.nf.back
tmp/
bin/compareVCF.py
.vscode/settings.json
.vscode/.ropeproject/config.py
bin/mkPlots.R
bin/filterVCF.py
make_nextNEOpi_release/nextNEOpi_v1.0.tar.gz
make_nextNEOpi_release/
README_tmp.html
README.pdf
nextNEOpiGDC.nf
conf/process_icbi.config
conf/params_icbi.config
assets/hlahdenv.yml
bin/make_release.sh
test.nf
